
# FastAPI Framework
fastapi
uvicorn

# Database
sqlalchemy
psycopg2-binary
alembic

# Authentication & Security
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6
bcrypt==4.0.1

# Environment Variables
python-dotenv

# Email Validation
pydantic[email]
email-validator

# HTTP client (chatbot)
httpx
